openapi: 3.0.3
info:
  title: Chabad.org Chabad Centers API
  description: >-
    Use this api to find and get information about Chabad centers in a JSON
    format
  version: 1.0.0
  contact: {}
servers:
  - url: https://www.chabad.org
paths:
  /api/v2/chabadorg/centers/:
    get:
      summary: List All Centers
      description: >-
        List all centers returns inforamtion on and list all active chabad
        centers, their mosed ids and more
      operationId: listAllCenters
      responses:
        '200':
          description: ''
  /api/v2/chabadorg/centers/types:
    get:
      summary: List Center Types
      description: >-
        Returns all center types and their keys to use when using center types
        to filter serach results
      operationId: listCenterTypes
      responses:
        '200':
          description: ''
  /api/v2/chabadorg/centers/[mosed-id]:
    get:
      summary: Get Center Info
      description: >-
        Gets full information on a certain Chabad center using its id.


        Replace \[mosed-id\] with the centers id, it can be found using other
        api requests.
      operationId: getCenterInfo
      responses:
        '200':
          description: ''
  /api/v2/chabadorg/centers/search:
    get:
      summary: Search Centers
      description: >-
        Use this to search for chabad centers, will return a JSON list od
        centers and their basic info (including mosed-id) based on your queries
      operationId: searchCenters
      parameters:
        - name: limit
          in: query
          schema:
            type: string
            example: '10'
          description: >-
            Amount of results you want the api to return, defualts tp 10 if left
            blank
        - name: query
          in: query
          schema:
            type: string
            example: c
          description: The query string you are searching by / for
        - name: type
          in: query
          schema:
            type: string
            example: '7157'
          description: >-
            The id of the center type you would like to filter by, get all
            center types and their using "List Center Types"
            (https://www.chabad.org/api/v2/chabadorg/centers/types)
        - name: name
          in: query
          schema:
            type: string
            example: novack
          description: search by shliach's first or last name but not both
      responses:
        '200':
          description: ''
  /api/v2/chabadorg/centers/locations:
    get:
      summary: Get Centers By Zip Code
      description: Returns a JSON list of centers in and near a certain zipcode
      operationId: getCentersByZipCode
      parameters:
        - name: id
          in: query
          schema:
            type: string
            example: 2-10001
          description: 2- followed by zipcode, ex. 2-32246
      responses:
        '200':
          description: ''
tags: []
